.lbx_lnop{
    width: 1200px;
    height: auto;
    overflow: hidden;
    /* background: lightgreen;  */
    margin:auto;
    position: relative;
}
.lbx_lnop>a{
    display: block;
    margin:auto;
    width:1200px;
    height:300px;
    overflow: hidden;
    }
.lbx_lnop>a.open{
    height: 300px;
    }  
.lbx_lnop>a.closed{
   height:40px;
    }
.transition{
transition : 1.5s;
}
.lbx_lnop .btn{
font-size: 13px;
position: absolute;
bottom: 0 ;
right: 0;
padding: 2px 2px 2px 8px;
color: #a3a3a3;
background-color: black;
border-radius: 3px 0 0 0 ;
cursor: pointer;
display: flex;
box-sizing: border-box;
width:46px;
height: 23px;
overflow: hidden;
}

.lbx_lnop .btn:hover{
    color: white;  
}
.btn>i {
    font-size: 1px;
    margin-top: 4px;
    margin-left: 1px;
display: block;

}

img{
display: block;
position: absolute;
}
img.opened{   
top: 0px;
/* transition: 1.5s; */
}
img.closed{
top: -300px;
/* transition: 1.5s; */
}

