body{
    font-family: Verdana,Arial,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,\\5FAE\8EDF\96C5\9ED1\9AD4,Microsoft YaHei;
}
.lbx_lnop{
    width: 1200px;
    height: auto;
    overflow: hidden;
    /* background: lightgreen;  */
    margin:auto;
    position: relative;
}
.lbx_lnop>a{         /* 初始的畫面要先設定 withour open or closed*/
    display: block;
    margin:auto;
    width:1200px;
    /* height:0; */
    overflow: hidden;
    }
.lbx_lnop>a.opened{
    height: 300px;
    }  
.lbx_lnop>a.closed{
   height:40px;
    }
.transition{
transition : 1.5s;
}
.lbx_lnop .btn{
font-size: 13px;
position: absolute;
bottom: 0 ;
right: 0;
padding: 2px 2px 2px 8px;
color: #a3a3a3;
background-color: black;
border-radius: 3px 0 0 0 ;
cursor: pointer;
display: flex;
box-sizing: border-box;
line-height: 1.5;
}

.lbx_lnop .btn:hover{
    color: white;  
}
.btn>i {
    font-size: 1px;
    margin: 6px 2.5px 3px 2.5px;
    display: inline-block;
    vertical-align: middle;
}
i.fa-caret-up{
    margin-top: 8px;
}

img{
display: block;
position: absolute;
}
img.opened{   
top: 0px;
/* transition: 1.5s; */
}
img.closed{
top: -300px;
/* transition: 1.5s; */
}

